
body {
  width: 800px;
  margin: 0 auto;
  height: 800px;
  overflow: auto;
}

body h1 {

  font-size: 3em;
}

.brand-logo {
  background-image: url('http://lorempixel.com/g/400/400');
  width: 400px;
  height: 400px;
  margin: 10px;
  }

body opt-in div{
  border: 2px solid black;
  display: inline-block;
}


body opt-in form {
  width: 40%;
  float: right;
  margin-right: 2em;
  margin-top: 5em;
  display: inline-block;
}

form input {
  margin-top: 2em;
  margin-left: .5em;
  height: 2.5em;
  border: 2px solid #000;
}

form input[type='submit'] {
  width: 86%;
}
form input[id='email'] {
 width: 84%;
}