/* Styles go here */

.brand-logo {
  background-image: url('http://lorempixel.com/g/400/200');
}

body {
  width: 700px;
  margin: 0 auto;
  height: 800px;
}

body opt-in {
  padding: 49%;
  border: 2px solid black;
}

body opt-in form {
  width: 50%;
  float: right;
}

form input {
  margin-top: 2em;
  margin-left: 1.5em;
  height: 2.5em;
  border: 2px solid #000;
}

form input[type='submit'] {
  width: 80%;
}
form input[id='email'] {
 width: 78%;
}